  .previewImage {
    width: "100%";
    height: "100%";
    object-fit: "contain",
  }
  .paper {
    padding: 2;
    margin: "auto";
    max-width: 600;
  }
  .cardGrid {
    padding-top: 8;
    padding-bottom: 8;
  }
  .card {
    height: 400;
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
    padding: 2;
  }
  .bigCard {
    height: 800;   
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
    padding: 2;
  }
  .previewImageContainer {
    width: "64px";
    height: "64px";
    border-radius: "50%";
    border: "2px solid blue";
    display: "flex";
    justify-content: "center";
    align-items: "center";
    overflow: "hidden";
    margin: 1,
  }
  